/services/logs
/services/project/project
project/target
golden/project
/services/target
/services/tmp
/services/.history
/services/dist
*.idea
*.iml
/services/out
/services/.idea_modules
/services/.classpath
/services/.project
/services/RUNNING_PID
/services/.settings
/services/.DS_Store
*.codekit
/servicesconf/application.conf
/services/.sass-cache
api/
target/
/services/projectFilesBackup
/services/.publish.sh
